* {
    margin: 0% auto;
    padding: 0% auto;
}

body {
    background: linear-gradient(90deg, #2b6cb0, #ed64a6);
    box-sizing: border-box;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" >;



}

#as {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 900px;
    padding: 0% auto;
    margin: 0% auto;
    gap: 200px;
}
span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: blue;
    font-weight: 800;
}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
.img {
    width: 300px;
    border-radius: 8%;
}

.box1 {
    align-self: flex-end;
}

#main {
    margin: 0% auto;
    padding: 0%;
    font-size: 100mx;
}

.name {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.proff {
    font-size: 40px;
    margin-top: 20px;
}

