*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(90deg, #3c5978, #624754);
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
     transition: transform 0.3s ease;
}
#nav a:hover{
    transform: translateY(-10px); 
}
#nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;    
    transition: transform 0.3s ease;
}
#nav ul li a:hover {
    transform: translateY(-8px);  
}
.div{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 70vw; */
    margin-top: 100px;
    gap: 300px;
}
.img1{
    margin-left: 50px;
    border-radius: 50px;
    box-shadow: 3px 3px black;
    margin-bottom: 20px;
}
.div2{
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    
}
.po{
    margin-top: 20px;
}
h3{
     font-size: 40px;
    color: rgb(10, 10, 242);
    text-transform: uppercase;
}
.div a{
    
}
.img2{
    width: 35px;
    margin-left: 50px;
}
a:hover{
    width: 50px;
}