* {
    margin: 0% auto;
    padding: 0% auto;
    color: rgb(170, 183, 194);
}

body {
    background: linear-gradient(90deg, #091118, #a33c3c);
    box-sizing: border-box;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" >;
}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;    
    transition: transform 0.3s ease;
}
#nav ul li a:hover {
    transform: translateY(-8px);  
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: max-content;
    flex-direction: column;
    border: 2px solid rgb(36, 36, 71);
    margin-top: 50px;
    border-radius: 8px;
    padding: 5px 40px;
    background: transparent;
    color: white;
    gap: 10px;
}
input{
    background: transparent;
    border-radius: 3px;
    padding: 5px;
    color: white;
}
textarea{
    background: transparent;
    border-radius: 5px;
    padding: 8px;
}
caption{
    color: #121315;
    margin-bottom: 10px;
}
.btn{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}
#send{
     background: linear-gradient(90deg, #3c5978, #624754);
     padding: 5px 5px;
     border: 1px solid rgb(205, 124, 138);
     width: 80px;
     font-size: large;
     border-radius: 10%;
}
#reset{
    background: linear-gradient(90deg, #e4512c, #250917);
     padding: 5px 5px;
     border: 1px solid rgb(205, 124, 138);
     width: 80px;
     font-size: large;
     border-radius: 10%;

}