* {
    margin: 0% auto;
    padding: 0% auto;
}

body {
    background: linear-gradient(90deg, #3c5978, #624754);
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    
}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
/* .div{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    width: 50vw;
} */
#main{
    margin-left: 50px;
}
#main h1{
    font-size: 100px;
    color: lightblue;
    text-shadow: 5px 5px black;
}
#main h2{
    text-transform: uppercase;
    font-size: 35px;
    color: rgb(1, 1, 15);
}
#main h3{
    font-size: 30px;
    margin-left: 60px;
    margin-top: 40px;
}

#main p{
    margin-top: 20px;
    font-size: 30px;
}
.pera{
    margin-left: 8px;
    font-size: 20px;
}
#main h2{
    /* margin:0px 8px 8px; */
    color: rgb(72, 10, 10);
}
.section{
    padding: 30px 50px;
}
#nav a:hover {
  color: #140a0a;
  box-shadow: 0px 0px 8px #4a2d2d;
  width: 100px;
}
.div{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100vh;
    width: 100vw;
}
.div1{
    width: 200%;
}
.div2{
    border:2px solid #140a0a;
    border-radius: 8px;
    margin-right: 80px;
    padding: 10px;
    height: 60%;
    width: 80%;
    font-size: 20px;
}