* {
    margin: 0% auto;
    padding: 0% auto;
}

body {
    background: linear-gradient(90deg, #3c5978, #624754);
    box-sizing: border-box;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" >;
}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
#main{
    margin-left: 50px;
}
#main h1{
    font-size: 100px;
    color: lightblue;
}
#main h3{
    font-size: 35px;
}
#main span{
    text-transform: uppercase;
    margin-top: 50px;
}
.section{
    padding: 30px 50px;
}