* {
    margin: 0% auto;
    padding: 0% auto;
}

body {
    background: linear-gradient(90deg, #327844, #5d40a7);
    box-sizing: border-box;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com" > <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" >;



}
#nav {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    border: 2px solid rgb(85, 99, 85);
    border-radius: 10px;
    background-color: transparent;
    width: 400px;
    margin: 20px auto;
    padding: 8px;
}

#nav li {
    list-style: none;
    float: left;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
#nav a:hover {
  color: #140a0a;
  box-shadow: 0px 0px 8px #4a2d2d;
  width: 100px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.div1{
    width: 50vw;
    height: 50%;
}
.div1 h1{
    font-size: 60px;
    color: rgb(144, 141, 162);
    text-shadow: 5px 5px black;
}
.div1 h2{
    font-size: 25px ;
    margin-top: 30px;
    width: 100px];
}
.div2{
    margin-right: 60px;
}
.box1{
    font-size: 39px;
    color: #2cb6a1;
}
.box, .box2 {
  display: inline-block; 
  font-size: 25px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 4px;
  margin: 10px;
}
.box {
  width: 100px;
}
.box2 {
  width: 150px;
}
